appdirs==1.4.4
attrs==21.2.0
Automat==20.2.0
bcrypt==3.2.0
btrfsutil==5.14.2
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.6
chardet==4.0.0
click==8.0.3
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==35.0.0
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
entrypoints==0.3
future==0.18.2
Glances==3.2.3
html5lib==1.1
hyperlink==21.0.0
idna==3.2
importlib-metadata==4.8.1
incremental==21.3.0
jeepney==0.7.1
Jinja2==3.0.2
keyring==23.0.1
libmsym==0.2.4
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.2
netsnmp-python==1.0a1
numpy==1.21.3
ordered-set==4.0.2
packaging==20.9
pandas==1.3.4
pep517==0.11.0
ply==3.11
progress==1.6
proton-client==0.7.0
protonvpn-cli==3.10.0
protonvpn-nm-lib==3.5.0
psutil==5.8.0
pycairo==1.20.1
pycparser==2.20
PyGObject==3.40.1
pymongo==3.12.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.5
PyQt5-sip==12.9.0
python-dateutil==2.8.2
python-gnupg==0.4.7
pythondialog==3.5.2
pytz==2021.3
pywal==3.3.0
pyxdg==0.27
rados==2.0.0
rbd==2.0.0
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
SecretStorage==3.3.1
six==1.16.0
systemd-python==234
team==1.0
toml==0.10.2
tomli==1.2.1
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.26.7
webencodings==0.5.1
zipp==3.6.0
zope.interface==5.4.0
